@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&display=swap');
.h1,h2,h3,h4,h5,h6 {
  margin: 0;
  padding: 0;

}


body{
  margin: 0;
  padding: 0;

}

ul{
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

li{
  display: flex;
  margin: 0% 2%;
  padding: 0% 6%;
  align-items: center;
}

div{
  text-align: center;
}

a{
  text-decoration: none;
  color: black;
}

.container{
  margin: 0% 0%;
  font-family: poppins;
}

.title-name {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.navigation-img{
  padding: 1%;
}

.navigation-container {
    display: flex;
    margin: 0% 5%;
    padding: 0%;
    align-items: center;
}

.products {
  border: 1px solid black;
  margin: 0% 2%;
  padding: 1% 1.5%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffecec;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  border: 1px solid rgb(255 58 58 / 20%);
  border-bottom: 0px;
}

.products-link{
  font-size: 18px;
  font-weight: 400;
}

.login-container{
  flex-grow: 1;
  margin-right: 5% ;
  text-align: end;
  align-items: center;
  
}
.login-link{
  font-size: 13px;
  font-weight: 300;
  color: #646f79;
}


.helpdesk{
  background-color: #ffecec;
  border: 1px solid rgb(255 58 58 / 20%);
  display: flex;
  padding: 1.5% 0%;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.features-section{
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 0% 15%;
}

.product-details{
  display: flex;
  margin: 0% 2%;
  padding: 0% 6%;
  align-items: center;
}

.product-nav{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.product-logo{
  width: 20;
  height: 20;
}

.product-name-main{
  font-size: 24px;
  font-weight: 400;
  margin-left: 12px;
  color: #000;
}

.product-name{
  font-size: 16px;
  font-weight: 400;
  padding: 0% 2%;
  color: #000;
}

.demo-button{
  background-color: #ff3a3a;
  transition: all .3s ease;
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  color: white;
  outline: 0;
  border: none;
  display: inline-block;
  box-shadow: none;
  padding: 5px 10px;
  border-radius: 5px;
  position: relative;
  white-space: nowrap;
}

.demo-link{
  color: white;
}

.hero-section{
  background: url(https://assets.www.happyfox.com/v2/images/pricing-new-banner-bg-new.png);
  background-repeat: no-repeat;
  background-size: cover;
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
}

.hero-title{
  font-size: 40px;
  color: black;
  font-weight: 500;
  margin: 80px 0 76px;
}

.category-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.category-box{
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  width: 300px;
  height: 80px;
  align-items: center;
  padding: 25px 20px;
  border-right: #000;
  background-color: white;
  border-top-right-radius: 16px;
  border-top-left-radius: 16px;
}

.category-box::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 1px;
  background-color: #000;
}

.highlighted{
  background-color:#ffeada ;
}

.pricing-section{
  padding: 5% 5%;
}

.pricing-container{
  background-color: #f5f4f4;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  padding: 1%;
  margin-bottom: 80px;
}

.diff-types{
  border: none;
  background-color: transparent;
  flex: 1;
  margin: 0% 1%;
  min-height: 80px;
  font-size: 16px;
  text-align: center;
  font-weight: 300;
  padding: 2%;
  cursor: pointer;
}

.diff-types span{
  font-size: 12px;
  font-weight: 300;
}

.current {
  background-color: white;
  border: 0.5px solid black;
  border-radius: 10px;
}

.types-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  /* border: 1px solid black; */
}

.container-box{
  display: flex;
  flex-direction: column ;
  /* border: 1px solid black; */
}

.type-name {
  font-size: 26px;
  font-weight: bolder;
  margin: 0 30px 20px;
  text-align: left;
}

.type-details{
  font-size: 12px;
  margin: 0 30px;
  text-align: left;
  font-weight: 400;
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.dollar{
  font-size: 24px;
  font-weight: 800;
}

.number{
  font-size: 48px;
  font-weight: bolder;
  text-align: end;
  margin: 0;
}

.type-savings{
  font-size: 16px;
  text-align: left;
  margin: 0 30px;
  font-weight: 400;
  color: #009928;
  margin-bottom: 30px;
}

.line {
  width: 80%;
  height: 0.5px; 
  background-color: #dfdfdff4; 
  display: flex;
  align-self: center;
}

.details-container{
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 60px 0;
  padding: 10px 0;
}

.details-points{
  color: #82827a;
  font-size: 14px;
  font-weight: light;
  text-align: left;
  padding: 0 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.main-point{
  color: #383835;
  font-weight: 800;
}


.bullet-points{
  font-size: 30px;
  color: #555550;
}

.plus-points{
  color: #383835;
  padding: 5px;
  font-size: larger;
}

.types-button{
    background-color: #f9f9f9;
    transition: all .3s ease;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    color: black;
    outline: 0;
    border: none;
    box-shadow: none;
    padding: 10px 10px;
    margin: 20px 30px;
    border-radius: 5px;
    position: relative;
    white-space: nowrap;  
    text-align: justify;
}

.arrow{
  font-size: 20px;
  color: black;
  text-align: center;
}

.active-button{
  background-color: #ff3a3a;
  color: white;
}

.active-arrow{
  
  font-size: 20px;
  color: white;
  text-align: center;
}
.active{
  box-shadow: -44px 64px 33px -55px rgba(140,149,159,0.3);}

.most-popular{
  margin-top: -25px;
  text-align: left;
  padding: 0 30px;
  margin-bottom: 5px;
  color: red;
  font-size: 14px;
  font-weight: 400;
}

.imp-note{
  margin: 10% 25%;
  font-size: 16px;
  font-weight: 400;
  color: grey;
  background-color: #f9f9f9;
  padding: 1.25%;
  border-radius: 10px;
}

